In [2]:
import pandas as pd

## DATA OVERVIEW

In [7]:
data = pd.read_csv("usdinr.csv")
data.head()

           Date   Price    Open    High     Low
0  Sep 14, 2018  71.880  71.700  71.995  71.535
1  Sep 17, 2018  72.540  72.530  72.695  72.315
2  Sep 18, 2018  72.710  72.560  72.990  72.360
3  Sep 19, 2018  72.360  72.720  72.875  72.345
4  Sep 20, 2018  72.015  72.345  72.345  72.015

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 5 columns):
Date     261 non-null object
Price    261 non-null float64
Open     261 non-null float64
High     261 non-null float64
Low      261 non-null float64
dtypes: float64(4), object(1)
memory usage: 10.3+ KB

## Data Preprocessing

In [33]:
import datetime 

# Converting date to correct format.

def handle_date(date):
    entity_list = date.split(' ')
    
    entity_list[1] = entity_list[1][0:2]
    date_string = entity_list[0] + ' ' + entity_list[1] + ' ' + entity_list[2]
    datetime_object = datetime.datetime.strptime(date_string, '%b %d %Y')
    return datetime_object


data['Date']=data['Date'].apply(lambda date : handle_date(date) )

In [34]:
data.head()

        Date   Price    Open    High     Low
0 2018-09-14  71.880  71.700  71.995  71.535
1 2018-09-17  72.540  72.530  72.695  72.315
2 2018-09-18  72.710  72.560  72.990  72.360
3 2018-09-19  72.360  72.720  72.875  72.345
4 2018-09-20  72.015  72.345  72.345  72.015